<div class="section">
    <div class="container">
        <div class="row" ng-include="'header/sections.html'">
        </div>

        <!--Add Note section-->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div ng-nestable ng-model="treeDelete" style="background-color: #1f205b; min-height: 50px; padding : 10px;">
                        <div>
                            {{$tag.name}}
                        </div>
                    </div>
                    <div ng-nestable ng-model="treeTagProject">
                        <div>
                            {{$tag.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>