<div class="section">
    <div class="container">
        <div class="row heading text-center">
            <div class="col-md-12">
                <p class="welcome">Mind Palace</p>
                <h1>
                    {{projectName}}
                </h1>
                </div>
            </div>
        </div>

        <div class="row text-left" style="margin-top:10px;">
            <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">

                <div>Created :
                    <span class="hidden-xs">{{creationTime| date:"d MMM yyyy"}}</span>
                    <span class="hidden-xs hidden-sm">{{creationTime| date:"'at' h:mma"}}</span>
                </div>
                <div>Last update :
                    <span class="hidden-xs">{{updateTime| date:"d MMM yyyy"}}</span>
                    <span class="hidden-xs hidden-sm">{{updateTime| date:"'at' h:mma"}}</span>
                </div>
                <form role="form" ng-submit="saveNote()">
                    <div class="form-group">
                        <label class="control-label">Title:</label>
                        <input class="form-control" placeholder="Note Title" ng-model="title" type="text" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Content</label>
                        <input class="form-control" placeholder="Note content" ng-model="content" type="text" required>
                    </div>

                    <div class="button-bar">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                        <a class="btn btn-default" ng-click="back()">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>