<div class="section">
    <div class="container">
        <div class="row" ng-include="'header/sections.html'">
        </div>

        <!--Add Note section-->
        <div class="row">
            <div class="panel panel-default">

                <form role="form" ng-init="ValidationError=false" ng-submit="ValidationError = validateAndAddNote()">
                    <div class="alert alert-danger" role="alert" ng-show="ValidationError">
                        <span class="sr-only">Error:</span>
                        You should enter at least a title!
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input class="form-control" placeholder="My first Mind palace Note!" ng-model="noteTitle" type="text" required>
                            <br>
                            <label class="control-label">Content</label>
                            <textarea  class="form-control" placeholder="Train tickets" rows="8" ng-model="noteContent">
                            </textarea><br>
                            <label class="control-label">Tags</label><br>
                            <span class="label label-default" ng-repeat="tag in tagList">{{tag.name}} </span>

                        </div>
                        <div class="button-bar">
                            <button type="submit" class="btn btn-primary">Add note</button>
                        </div>
                    </div>
                </form>

                <form role="form" ng-submit="handleTagText()">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Create new Tag</label>
                            <input class="form-control" placeholder="New tag label" ng-model="tagText" type="text">
                        </div>
                        <span class="label label-primary" ng-click="showTagTree()">Add existing tag</span>

                        <div class="button-bar">
                            <button type="submit" class="btn btn-primary">Test</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>